INTEGER 0
ENUM 8 0
ENUM 12 0
ENUM 12 0
ENUM 5 0
ENUM 5 0
ENUM 10 0
ENUM 6 0
ENUM 3 0
ENUM 3 0
ENUM 5 0
ENUM 2 0
ENUM 14 0
ENUM 10 0
ENUM 6 0
ENUM 6 0
ENUM 11 0
ENUM 5 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 13 0
ENUM 2 0
ENUM 3 0
ENUM 3 0
ENUM 5 0
ENUM 2 0
ENUM 13 0
ENUM 5 0
ENUM 3 0
ENUM 3 0
ENUM 9 0
ENUM 2 0
ENUM 3 0
ENUM 7 0
ENUM 3 0
ENUM 4 0
ENUM 5 0
ENUM 6 0
ENUM 14 0
ENUM 10 0
ENUM 16 0
ENUM 9 0
ENUM 7 0
ENUM 2 0
ENUM 6 0
ENUM 14 0
ENUM 2 0
ENUM 7 0
ENUM 12 0
ENUM 4 0
ENUM 2 0
ENUM 2 0
ENUM 4 0
ENUM 4 0
ENUM 4 0
ENUM 7 0
ENUM 2 0
ENUM 3 0
ENUM 3 0
ENUM 3 0
ENUM 2 0
ENUM 18 0
ENUM 8 0
ENUM 3 0
